/* Colors */
@btn-color:#FFB000;
@icons-color:#00A700;
@text:#1a1820;
@danger:#ff0000;
@bg-light:#f5f5f5;
@light:#fff;
@border-input:#dddddd;

/* Basic setting */
html{
	font-size: 10px;
}
.btn{
	padding: 1rem 3rem;
	border-radius:8px;
	background-color: @btn-color;
	color: @light;
	text-transform: uppercase;
	font-size: 1.2rem;
	transition: all 0.2s;
	&:hover{
		cursor: pointer;
		background-color:darken(@btn-color, 10%);
	}
}
button, input, a{
	&:focus{
		outline: none;
	}
}
a:hover{
	text-decoration: none;
}
/* Typograpy */
section{
	padding: 10rem 0;
}


/* main */
.main{
	background: #fff url(../img/fon.jpg) center center no-repeat;
	    background-position: top;
	padding: 3rem 0;
	&-content{
		margin-top: 10rem;
		h1{
			margin-bottom: 4rem;
			font-weight: 900;
			font-size: 3.5rem;
			text-transform: uppercase;
			line-height: 1.45;
			color: @light;
			max-width: 550px;
    		padding: 1em;
    		box-shadow: 0 0 400px rgba(0, 0, 0, 1) inset;
		}
	}
	&-subtitle{
		font-size: 2.4rem;
		margin-bottom: 4rem;
		max-width: 550px;
    	margin: 1em auto;
    	color: #fff;
    	padding: 1em;
    	box-shadow: 0 0 400px rgba(0, 0, 0, 0.7) inset;
	}
	&-trigger{
		font-size: 2.2rem;
		margin-top: 3rem;
		display: table;
		text-transform: uppercase;
		background-color: #fff;
    	padding: 5px 10px;
	}
	&-form{
		padding: 4rem 5rem;
		background-color:@light;
		text-align: center;
		&-header{
			font-size: 1.8rem;
			margin-bottom: 4rem;
		}
		&-input{
			display: block;
			width: 100%;
			border: 1px solid @border-input;
			padding: 1.5rem;
			margin: 2rem 0;
		}
		label{
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 0.5rem;
			background-color: @light;
			font-size: 1.3rem;
		}
		&-btn{
			display: block;
			height: 5.5rem;
			width: 100%;
			font-size: 1.6rem;
		}
		small{
				font-size: 1rem;
				margin-top: 1.5rem;
				display: block;
			}
	}
}
span{
	display: inline-block;
	padding: 1rem 5rem;
	background-color:@icons-color;
	text-align: center;
	color:@light;
	strong{
		font-size: 3rem;
	}
}
.logo img {
    width: 20rem;
}
.header{
	height: 7rem;
	@media (max-width: 575px){
		height: 10rem;
		text-align: center;
	}
}
.phone-link{
	display: inline-block;
	color: @text;
	font-size: 2.5rem;
	line-height: 7rem;
	height: 7rem;
	text-shadow: 1px 1px 2px #fff;
}
.wrap{
	display: table;
	width: 100%;
	height: 7rem;
	&-block {
	display: table-cell;
	vertical-align: middle;
	}
}
.main-title{
	font-size: 1.5rem;
}
@media (max-width: 992px){
	.main-content h1{
		font-size: 3rem;
	}
	.phone-link{
		font-size: 2rem;
	}
} 